<%- layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="bg-gray-200 min-h-screen px-5">
    <div class="flex items-center justify-between py-5">
      <h3 class="text-3xl font-bold text-gray-800">All Listings</h3>

      <form action="/listings/new" method="get">
        <button
          class="bg-red-500 hover:bg-red-600 text-white px-2 py-2 rounded-lg font-medium transition"
        >
          + Add New Listing
        </button>
      </form>
    </div>

    <!-- Listings Grid -->
    <ul
      class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
    >
      <% for (let listing of allListings) { %>
      <li class="w-full">
        <a href="/listings/<%=listing._id%>">
          <div
            class="w-full rounded-lg overflow-hidden hover:shadow-md transition"
          >
            <img
              src="<%= listing.image %>"
              alt="image"
              class="w-full h-64 rounded-2xl object-cover"
            />

            <div class="p-3">
              <p class="text-gray-800 font-medium text-sm truncate font-bold">
                <%= listing.title %>
              </p>

              <p class="text-gray-700 font-semibold mt-1">
                ₹<%= listing.price != null ?
                listing.price.toLocaleString('en-IN') : "N/A" %>/2 Day
              </p>
            </div>
          </div>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</body>
