<% layout('/layouts/boilerplate.ejs') %>
<main class="min-h-[90vh] bg-gray-100">
  <!-- Listing Card -->
  <div class="flex justify-center px-4 sm:px-6">
    <div class="w-full px-4 sm:px-5 sm:w-3/4 md:w-2/3 lg:w-1/2 py-6">
      <!-- Heading -->
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-gray-800 mb-4">
        <%= listing.title %>
      </h3>

      <!-- Image -->
      <div class="w-full">
        <img
          src="<%= listing.image.path %>"
          alt="image"
          class="w-full h-52 sm:h-56 md:h-64 rounded-2xl object-cover"
        />
      </div>

      <!-- Details -->
      <div class="py-4 space-y-2">
        <p class="text-gray-700 text-sm sm:text-base line-clamp-2">
          owned by <i> <%= listing.owner.username %> </i>
        </p>

        <p class="text-gray-700 text-sm sm:text-base line-clamp-2">
          <%= listing.description %>
        </p>

        <p class="text-gray-900 font-semibold text-base sm:text-lg">
          ₹<%= listing.price.toLocaleString('en-IN') %>/Night
        </p>

        <p class="text-gray-700 text-sm sm:text-base">
          <%= listing.location %>, <%= listing.country %>
        </p>
      </div>

      <!-- Buttons -->
      <%if(ReqUser && listing.owner._id.equals(ReqUser._id)){%>
      <div class="flex flex-col sm:flex-row gap-3">
        <a
          href="/wanderlust/listings/<%= listing._id %>/edit"
          class="w-full text-center bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg font-medium transition"
        >
          Edit
        </a>

        <form
          action="/wanderlust/wanderlust/listings/<%= listing._id %>?_method=DELETE"
          method="POST"
          class="w-full"
        >
          <button
            class="w-full bg-red-600 hover:bg-red-700 text-white px-6 py-2 rounded-lg font-medium transition"
          >
            Delete
          </button>
        </form>
      </div>
      <%}%>
    </div>
  </div>

  <!-- Review Form -->
  <% if(ReqUser) {%>
  <div class="flex justify-center px-4 sm:px-6">
    <div class="w-full px-4 sm:px-5 sm:w-3/4 md:w-2/3 lg:w-1/2 py-6">
      <form
        action="/wanderlust/listings/<%= listing._id %>/reviews"
        method="post"
        class="w-full space-y-4"
      >
        <!-- Title -->
        <h2 class="text-lg sm:text-xl font-semibold text-gray-800">
          Add Your Review
        </h2>

        <!-- Rating -->
        <div>
              <label class="block text-sm text-gray-700 mb-1">Rating</label>
              <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate invalid:border-red-500" name="review[rating]" value="1"
                  checked aria-label="No rating." />
                <input type="radio" id="second-rate1" name="review[rating]" value="1" />
                <label for="second-rate1" title="Terrible">1 star</label>
                <input type="radio" id="second-rate2" name="review[rating]" value="2" />
                <label for="second-rate2" title="Not good">2 stars</label>
                <input type="radio" id="second-rate3" name="review[rating]" value="3" />
                <label for="second-rate3" title="Average">3 stars</label>
                <input type="radio" id="second-rate4" name="review[rating]" value="4" />
                <label for="second-rate4" title="Very good">4 stars</label>
                <input type="radio" id="second-rate5" name="review[rating]" value="5" />
                <label for="second-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>

        <!-- Comment -->
        <div>
          <label class="block text-sm text-gray-700 mb-1">Comment</label>

          <textarea
            name="review[comment]"
            rows="3"
            required
            minlength="10"
            placeholder="Write your review here..."
            class="peer w-full px-3 py-1.5 border border-gray-400 rounded-lg bg-gray-100 focus:ring-2 focus:ring-indigo-500 focus:outline-none invalid:border-red-500"
          ></textarea>
          <p
            class="mt-1 text-sm text-red-500 hidden peer-invalid:block peer-placeholder-shown:hidden"
          >
            Comment must be at least 10 characters.
          </p>
        </div>

        <!-- Submit -->
        <button
          type="submit"
          class="border border-gray-800 rounded px-4 py-2 text-sm hover:bg-gray-800 hover:text-white transition"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <%}%>
  <!-- Review -->
  <div class="flex justify-center px-4 sm:px-6">
    <div class="w-full px-4 sm:px-5 sm:w-3/4 md:w-2/3 lg:w-1/2 py-6">
      <h2 class="text-lg sm:text-xl font-semibold text-gray-800 mb-1">
        All Review
      </h2>
      <div class="grid lg:grid-cols-2 gap-2 sm:grid-cols-1 xl:grid-cols-3">
        <%for(review of listing.reviews){%>
        <div
          class="bg-gray-150 rounded-xl border border-gray-200 px-3 py-2 space-y-2"
        >
          <div class="flex justify-between items-center">
            <h1 class="text-2xl">👤 <%=review.author.username%></h1>
            <%if(ReqUser){%>
            <form
              action="/wanderlust/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
              method="POST"
            >
              <%if(review.author._id.equals(ReqUser._id)){%>
              <button
                class="bg-gray-800 px-2 py-1 rounded-lg text-white hover:bg-gray-700"
              >
                Delete
              </button>
              <%}%>
            </form>
            <%}%>
          </div>

          <div class="flex items-center gap-1 text-yellow-400 text-2xl my-0">
            <% for(let i=0; i < review.rating; i++) { %> ★ <% } %> <% for(let
            i=review.rating; i < 5; i++) { %>
            <span class="text-gray-300">★</span>
            <% } %>
          </div>

          <!-- Comment -->
          <p class="break-all whitespace-wrap text-sm text-gray-700">
            <%= review.comment %>
          </p>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</main>
